# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: One of the basic data types - can be a integer (1) or a floating point number (1.0)

Strings: A data type where the information is covered by quotes ('') and can contain numbers, characters...etc. It is immutable - it cannot be changed after it is created. 

Lists: A data type that contains a group of different types of data structures (string, int, float, another list, tuple...etc).

Tuples: An immutable data type that can also contain a group of different data types. It contains only 2 methods (count, index).

Dictionaries: A mapping data type where the keys must be an immutable data structure. It does not keep the order of the data and therefore, isn't a sequence.

**Solution**

Numbers: _Store numerical information and come in 2 forms - Integers (whole numbers), Floating Point (numbers with a decimal)_

Strings: _Ordered sequence of characters_

Lists: _Ordered sequence of objects (mutable)_

Tuples: _Ordered sequence of objects (immutable_

Dictionaries: _Key-Value pairing that is unordered_

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [5]:
200 / 2 - 100 + 11 ** 2 - 20.75 * 1

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) : 44
    
    What is the value of the expression 4 * 6 + 5 : 29
    
    What is the value of the expression 4 + 6 * 5 : 34

In [36]:
4 * (6 + 5)

44

In [37]:
4 * 6 + 5

29

In [38]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> Floating Point Number

What would you use to find a numberâ€™s square root, as well as its square?

In [7]:
# Square root:
100 ** 0.5

10.0

In [9]:
# Square:
10 ** 2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [10]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [13]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [14]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1])

o

In [15]:
# Method 2:
print(s[len(s)-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [17]:
# Method 1:
l = [0, 0] + [0]
print(l)

[0, 0, 0]

In [18]:
# Method 2:
l = [0] * 3
print(l)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [39]:
list3 = [1,2,[3,4,'hello']]

# code
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [41]:
list4 = [5,3,4,6,1]

In [43]:
# Method 1
sorted(list4)

[1, 3, 4, 5, 6]

In [44]:
# Method 1
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [22]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [23]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [27]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [28]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br> No you cannot. It is a mapping type data structure and does not keep track of the order of the data.

_No. Because normal dictionaries are mappings, not a sequence._

## Tuples

What is the major difference between tuples and lists?<br><br> Tuples are immutable. Lists are mutable.

How do you create a tuple?<br><br>

In [45]:
t = (1, 2)

## Sets

What is unique about a set?<br><br> A set only contains unique characters. There is no duplicated data in a set.

_They don't allow for duplicate items!_

Use a set to find the unique values of the list below:

In [29]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [30]:
# Answer before running cell
2 > 3

False

In [31]:
# Answer before running cell
3 <= 2

False

In [32]:
# Answer before running cell
3 == 2.0

False

In [33]:
# Answer before running cell
3.0 == 3

True

In [34]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [35]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!