# Section 5: Python Statements

## If Elif and Else Statements in Python

In [1]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print('Im not hungry')

FEED ME!

In [2]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
else:
    print('I do not know much.')

i do not know much.

In [4]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Money is cool!

In [5]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('What is your name?')

Hello Sammy

---

## Useful Operators

### range function:

In [6]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

In [8]:
range(0, 11, 2)

range(0, 11, 2)

The range function is a generator, which is a special type of function that generates information instead of saving it to memory.

In [9]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

### enumerate function:

In [15]:
word = 'abcde'

for i, letter in enumerate(word):
    print(f'{i}: {letter}')

0: a
1: b
2: c
3: d
4: e

### zip function:

In [16]:
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']

for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [17]:
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [18]:
mylist1 = [1, 2, 3, 4, 5, 6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [19]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

### in operator:

In [20]:
'x' in [1, 2, 3]

False

In [21]:
'x' in ['x', 'y', 'z']

True

In [22]:
'a' in 'a world '

True

In [23]:
'mykey' in {'mykey': 345}

True

In [24]:
d = {'mykey': 345}

345 in d.values()

True

In [25]:
d = {'mykey': 345}

345 in d.keys()

False

### math operations

In [26]:
mylist = [10, 20, 30, 40, 100]

In [27]:
min(mylist)

10

In [28]:
max(mylist)

100

### built-in library

In [29]:
from random import shuffle

In [31]:
mylist = list(range(11))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
shuffle(mylist)
mylist

[1, 8, 9, 3, 10, 6, 4, 0, 2, 5, 7]

shuffle function operates in place so it does not return anything

In [35]:
from random import randint

In [36]:
randint(0, 100)

67

In [37]:
mynum = randint(0, 10)
mynum

8

Note: `random.randint(a,b)` returns a random integer in range `[a, b]`, including both end points.

In [43]:
result = input('Enter a number here: ')
result

Enter a number here: 24

'24'

In [44]:
type(result)

str

---

## List Comprehensions

In [45]:
mystring = 'hello'

In [48]:
mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [50]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [51]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [53]:
mylist = [num**2 for num in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
mylist = [x for x in range(0, 11) if x%2 == 0]
mylist

[0, 2, 4, 6, 8, 10]

In [56]:
celcius = [0, 10, 20, 34.5]

fahrenheit = [( (9/5)* temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [57]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [59]:
mylist = []

for x in [2, 4, 6]:
    for y in [1, 10, 1000]:
        mylist.append(x*y)
        
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [60]:
mylist = [x*y for x in [2,4,6] for y in [1, 10, 1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]